# SPDX-FileCopyrightText: 2025 LibreCode coop and contributors
# SPDX-License-Identifier: AGPL-3.0-or-later
.idea
.vscode
.phpactor*
/vendor/
/vendor-bin/**/vendor/
/js/
node_modules/
/.php-cs-fixer.cache
